<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body style="overflow-y: scroll; overflow-x: hidden ">

    <div class="main-container"style=" width:99vw;">

        <!-- HEADER -->
        <header class="block" style="margin-left:0.5vw;margin-top:0.5vw;">
            <ul class="header-menu horizontal-list">
                <li>
                    <a class="header-menu-tab" href="/"><span class="icon entypo-cog scnd-font-color"></span>Home</a>
                </li>
                <li>
                    <a class="header-menu-tab" href="/#about"><span class="icon fontawesome-user scnd-font-color"></span>About</a>
                </li>
                <li>
                    <a class="header-menu-tab" href="/#services"><span class="icon fontawesome-envelope scnd-font-color"></span>Services</a>
                </li>
                <li>
                    <a class="header-menu-tab" href="/#contact"><span class="icon fontawesome-envelope scnd-font-color"></span>Contact</a>
                </li>
                <li>
                    <a class="header-menu-tab" href="/logout">Logout</a>
                </li>
            </ul>
            
            <div class="profile-menu">
                <!-- <p>Me <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p> -->
                <!-- <div class="profile-picture small-profile-picture">
                    <img src="{{ url_for('static', filename='logo1.jpg') }}" class="logo"></img>
                </div> -->
            </div>
        </header>

        {% for i in get_flashed_messages() %}
          <div class="flex bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700" role="alert">
            <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <div>
                <span class="font-medium" style="color: black;">{{i}}</span> 
            </div>
        </div>
          {% endfor %}
        <div class="left-container container">
          <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
            <br>
            <div class="profile-picture big-profile-picture clear">
                <img width="100%" width="100%" alt="Anne Hathaway picture" src="{{ url_for('static', filename='admin_avatar.jpeg') }}"  style="object-fit: cover;width: 150px;
                height: 150px;
                border-radius: 50%;">
            </div>
            <h1 class="user-name">{{id}}</h1>
            <div class="profile-description">
                <p class="scnd-font-color">Admin of Asteri Platina</p>
                <p class="scnd-font-color">Email id : {{admin_details[0].email_id}}</p>
                <p class="scnd-font-color">Unique id : {{admin_details[0].UniqueID}}</p>
            </div>
            <br>
            <div style="margin-left: 30px; font-size: 20px;">
              <h1 style="text-decoration: underline;">Database Summary </h1>
            <p >Total Active Requests : {{req_list|count}}</p>
            <p >Total donations : {{don_list|count}}</p>
            <p >Total Donors : {{count_donor}}</p>
            <p >Total Requestors : {{count_requestor}}</p>
            <p >Total NGO's : {{count_ngo}}</p>
            <p >Total Blocked Users : {{count_blocked}}</p>
            <p >Total Available Medicines : {{available_med}}</p>
          </div>
            
        </div>

          
          <h1>ACTIVE MEDICINE REQUESTS</h1>
          <table class="min-w-full border-collapse block md:table">
            <thead class="block md:table-header-group">
              <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"   >REQUEST ID</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"   >MEDICINE ID</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"   >LAST DATE OF REQUIREMENT</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"   >REQUESTED DATE</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"   >QUANTITY REQUESTED</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"   >REQUESTOR ID</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"   >ACTION</th>
                

              </tr>
            </thead>
            <tbody class="block md:table-row-group">
              {% for i in req_list%}
              <tr class="bg-gray-300 border border-grey-500 md:border-none block md:table-row" style="color:aliceblue;">
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Request ID</span>{{i.request_id}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Med ID</span>{{i.med_id}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Need Date</span>{{i.need_date}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Requested Date</span>{{i.requested_date}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Quantity</span>{{i.requested_quantity}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Requestor ID</span>{{i.requestor_id}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                  <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                  <form action="/admin_homepage" method="POST">
                  <input type="hidden"  name="identifier" value="form1" >
                  <input type="hidden" name="request_id" value="{{i.request_id}}">
                  <button type="submit" name="submit_button" value="accept"  class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">ACCEPT</button>
                  <button type="submit" name="submit_button" value="reject" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">REJECT</button>
                </form>
                </td>
              </tr>
             {% endfor %}
              
              		
            </tbody>
          </table>


          <h1>ACTIVE DONATION REQUESTS</h1>
          <table class="min-w-full border-collapse block md:table">
            <thead class="block md:table-header-group">
              <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"  >DONATION ID</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"  >MEDICINE ID</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"  >DATE OF EXPIRY</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"  >QUANTITY DONATED</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"  >DONOR ID</th>
                <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell"  >ACTION</th>
                

              </tr>
            </thead>
            <tbody class="block md:table-row-group">
              {% for i in don_list%}
              <tr class="bg-gray-300 border border-grey-500 md:border-none block md:table-row" style="color:aliceblue;">
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Donation ID</span>{{i.donation_id}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Med ID</span>{{i.med_id}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Expiry</span>{{i.donation_expiry}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Quantity</span>{{i.donation_quantity}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Donor ID</span>{{i.donor_id}}</td>
                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                  <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                  <form action="/admin_homepage" method="POST">
                    <input type="hidden"  name="identifier" value="form2" >
                    <input type="hidden" name="donation_id" value="{{i.donation_id}}">
                  <button type="submit" name="submit_button" value="accept" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">ACCEPT</button>
                  <button type="submit" name="submit_button" value="reject" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">REJECT</button>
                </form>
                </td>
              </tr>
             {% endfor %}
              
              		
            </tbody>
          </table>



        </div>

        <!-- MIDDLE-CONTAINER -->
        <div class="middle-container container" >
            <br><br><br><br>

            <details style="color: white;">
              <summary>BLOCK USER</summary>
              <div style="color: white; width: 50%; margin: 0 25%;">
                <form action="/admin_homepage" method="POST" style="color: white;">
                <input type="hidden"  name="identifier" value="block_form" >
                <input type="text" name="user" list="donor_list" placeholder="DONOR TO BE BLOCKED">
                    <datalist id="donor_list" >
                        {% for i in donor_list %}
                        <option value="{{i.donor_id}}">{{i.donor_id}}</option>
                        {% endfor %}
                    </datalist>
                  <input type="text" name="reason" placeholder="REASON TO BLOCK">
                <input type="submit" placeholder="BLOCK" value = "BLOCK">
                </form>
              </div> 
            </details>
           <details style="color: white;">
             <summary>
               UNBLOCK USER
              </summary>
              <div style="color: white; width: 50%; margin: 0 25%;">
                <form action="/admin_homepage" method="POST" style="color: white;">
                  <input type="hidden"  name="identifier" value="unblock_form" >
                  <input type="text" name="user" list="blocked_list" placeholder="DONOR TO BE UNBLOCKED">
                      <datalist id="blocked_list" >
                          {% for i in blocked_list %}
                          <option value="{{i.donor_id}}">{{i.donor_id}}</option>
                          {% endfor %}
                      </datalist>
                  <input type="submit" value = "UNBLOCK">
                </form>
              </div>
           </details>
           <!-- <br> -->
           <details style="color: white;">
             <summary>ADD MEDICINE</summary>
             <form action="/admin_homepage" method="POST">
              <input type="hidden"  name="identifier" value="add_medicine" >
               <!-- med_id="01",med_name="Amoxicillin"med_effects="Nausea" med_class="Antibiotics" -->
               <input type="text" name="med_name" placeholder="Medicine name">
               <input type="text" name="med_effects_list" placeholder="Medicine Effects">
               <input type="text" name="med_class" placeholder="Class of medicine">
               <input type="submit" >
             </form>
           </details>
           
                
            
        </div>
        
      
        
            
           
            
            
        </div> <!-- end right-container -->
    
    </div> <!-- end main-container -->
<br><br><br><br>
</body>
</html>