<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  
  <title>DONOR SIGN UP</title>
  <link rel="icon" href="{{ url_for('static', filename='logo1.jpg') }}">
</head>
<body>

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="{{ url_for('static', filename='logo1.jpg') }}" class="w-16 h-16" alt="logo">
    
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="/" class="mr-5 hover:text-gray-900">HOME</a>
      <a href="/#about" class="mr-5 hover:text-gray-900">ABOUT</a>
      <a href="/#services" class="mr-5 hover:text-gray-900">SERVICE</a>
      <a href="/#contact" class="mr-5 hover:text-gray-900">CONTACT</a>
      <a href="/login" class="mr-5 hover:text-gray-900">LOG IN</a>
    </nav>
    
  </div>
</header>
{% if id !=""%}
<div class="w-10/12 md:w-7/12 lg:6/12 mx-auto relative py-20">
  <div class="border-l-2 mt-10">
    <!-- Card 1 -->
    <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-red-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-xl font-bold">You have successfully registered as Donor </h1>
      </div>
      <div class="flex-auto">
        <h1 class="text-xl font-bold">Your id is {{id}}</h1>
      </div>
      <br>
      <a href="/donor_login" class="text-center text-white hover:text-gray-300">LOG IN</a>
    </div>

  </div>
</div>
{% endif %}
{% for i in get_flashed_messages()%}
  <div class="flex bg-red-100 rounded-lg p-4 mb-4 text-sm text-red-700" role="alert">
    <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    <div>
        <span class="font-medium" style="color: black;">{{i}}</span> 
    </div>
</div>
  {% endfor %}
  <div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
    <div class="w-full sm:max-w-md p-5 mx-auto">
      <h2 class="mb-12 text-center text-5xl font-extrabold">DONOR SIGN UP</h2>
      <form action="/donor_signup" method="POST">
        <div class="mb-4">
          <label class="block mb-1" for="email">EMAIL ID</label>
          <input id="email" type="text" name="email" required = "required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="username">NAME</label>
          <input id="username" type="text" name="username" required = "required" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="password">PASSWORD</label>
          <input id="password" type="password" name="password" required = "required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="mobile">MOBILE</label>
          <input id="mobile" type="text" name="mobile" required = "required" pattern="[789][0-9]{9}" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="dob">DATE OF BIRTH</label>
          <input id="dob" type="date" name="dob" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="unique_id">AADHAAR NUMBER</label>
          <input id="unique_id" type="text" name="unique_id" required = "required" pattern="[2-9]{1}[0-9]{11}" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="door_no">DOOR NUMBER</label>
          <input id="door_no" type="text" name="door_no" required = "required" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="street">STREET</label>
          <input id="street" type="text" name="street" required = "required" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="area">AREA</label>
          <input id="area" type="text" name="area" required = "required" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="city">CITY</label>
          <input id="city" type="text" name="city" required = "required" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="state">STATE</label>
          <input id="state" type="text" name="state" required = "required" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>
        <div class="mb-4">
          <label class="block mb-1" for="pincode">PIN CODE</label>
          <input id="pincode" type="text" name="pincode" required = "required" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        </div>



        <div class="mt-6 flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember_me" type="checkbox" class="border border-gray-300 text-red-600 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" />
            <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900"> Remember me </label>
          </div>
          <a href="#" class="text-sm"> Forgot your password? </a>
        </div>
        <div class="mt-6">
          <button type="submit" class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">SIGN UP</button>
        </div>
        <!-- <div class="mt-6 text-center">
          <a href="#" class="underline">Sign up for an account</a>
        </div> -->
      </form>
    </div>
  </div>
</body>
</html>