<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>REQUESTOR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('static', filename='logo1.jpg') }}">
</head>

<body>

    <div class="main-container">

        <!-- HEADER -->
        <header class="block">
            <ul class="header-menu horizontal-list">
                <li>
                    <a class="header-menu-tab" href="/"><span class="icon entypo-cog scnd-font-color"></span>HOME</a>
                </li>
                <li>
                    <a class="header-menu-tab" href="/#about"><span class="icon fontawesome-user scnd-font-color"></span>ABOUT</a>
                </li>
                <li>
                    <a class="header-menu-tab" href="/#services"><span class="icon fontawesome-envelope scnd-font-color"></span>SERVICE</a>
                </li>
                <li>
                    <a class="header-menu-tab" href="/#contact"><span class="icon fontawesome-envelope scnd-font-color"></span>CONTACT</a>
                </li>                
                <li>
                    <a class="header-menu-tab" href="/logout" ><i class="fas fa-sign-out-alt"></i>LOG OUT</a>
                </li>
            </ul>
            <div class="profile-menu">
            </div>
        </header>

        <!-- LEFT-CONTAINER -->
        <div >
            <div >
            </div>
            <div >
                <div >
                    <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
                    <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
                    <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
                    <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
                </div>
                
            </div>
            <div> 
                <div >
                    <div >
                       
                    </div>
                </div>
                
            </div>
            </div>
        <div class="left-container container">
            <div class="profile block">
                <br>
                <br>
                <h1 class="user-name">Welcome back {{user_identity[0].user_name}}!</h1><br/>
                {% set count = namespace(value=0) %}
                {%for i in prev_requests%}
                {% set count.value = count.value + 1 %}
                {% endfor %}
                    <div style = "margin-left: 10%;">
                        <p><span style = "color: rgb(221, 146, 146);font-weight: bold;">NAME : </span> {{user_identity[0].user_name}}</p>
                        <p><span style = "color: rgb(221, 146, 146);font-weight: bold;">REQUESTOR ID : </span> {{requestor_details[0].id}}</p>
                        <p><span style = "color: rgb(221, 146, 146);font-weight: bold;">EMAIL ID : </span> {{requestor_details[0].email_id}}</p>
                        <p><span style = "color: rgb(221, 146, 146);font-weight: bold;">AADHAAR NUMBER : </span> {{requestor_details[0].UniqueID}}</p>
                        <p><span style = "color: rgb(221, 146, 146);font-weight: bold;">NUMBER OF PREVIOUS REQUESTS : </span> {{count.value}}</p>
                    </div>
                
                
            </div>
        </div>

        <!-- MIDDLE-CONTAINER -->
        <div class="middle-container container">
            
            
            <div class="tweets block " style="overflow: scroll;"> <!-- TWEETS (MIDDLE-CONTAINER) -->
                <h2 class="titular" ><span style = "display: block">PREVIOUS REQUESTS<span></h2>
                {%for i in prev_requests%}
                <div class="tweet first" style = "line-height: 1.5;">
                    <p>REQUEST ID : {{i.request_id}} <br><br>MEDICINE ID : {{i.med_id}}<br>LAST DATE OF REQUIREMENT : {{i.need_date}}<br>QUANTITY : {{i.requested_quantity}}<br>DATE OF REQUEST : {{i.requested_date}}<a class="tweet-link" href="#17"></a></p>
                </div>
                {% endfor %}
                
                
                </div>
            
        </div>
        
        <div class="right-container container">
            <form class="tweets block " action="/requestor_homepage" method="POST">
                <h1 class="titular">REQUEST MEDICINE</h1>
                <br>
                <select id="medicine" name="medicine">
                    {% for i in med_list %}
                    <option value="{{i.med_id}}">{{i.med_name}}</option>
                    {% endfor %}
                </select>
                <input type="number" name="quantity" placeholder="QUANTITY REQUIRED">
                <input id="lastdate" name="lastdate" type="date" placeholder="LAST DATE OF REQUIREMENT">
                <input type="file" name="prescription" id="file-upload" placeholder="MEDICINE PRESCRIPTION">
                <input type="submit" placeholder="SUBMIT">
            </form>
        </div> <!-- end right-container -->
    </div> <!-- end main-container -->

</body>
</html>